* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


.container {
    max-width: 1200px;
    min-width: 1000px;
    /* -80 px por causa do header e os pading que existe */
    height: calc(100% - 60px);
    margin: 0 auto;
    display: grid;
    margin-top: 10px;

    grid-template-areas:
        "sidebar "
        "item"                
        ;

    grid-template-rows: 75px auto;

}

.sidebar {
    max-width: 1200px;
    height: 70px;
    border-radius: 10px;
    grid-area: sidebar;
    grid-column: sidebar;


}

.item {
    max-width: auto;
    height: 100%;    
    grid-area: item;
    grid-column: item;
    padding-bottom: 4px;

}



header {
    min-width: 1000px;
}